/* GENERAL STYLES */

html {
  font-size: 18px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: "Lato", Verdana monospace, sans-serif;
  line-height: 1.4;
  color: #828081;
  background-color: #fdfafe;
}

p {
  font-size: 0.7rem;
  line-height: 1.6;
}

h2 {
  font-family: "Cinzel", Georgia, serif;
  font-size: 1.7rem;
  line-height: 1.2;
  color: #545756;
}

h3 {
  font-size: 1.3rem;
}

.mobile {
  display: flex;
  align-items: center;
  display: none;
}

.mobile__none {
  display: none;
}

@media screen and (max-width: 710px) {
  html {
    font-size: 15px;
  }

  .landscape {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile__none {
    display: block;
  }
}

/* HEADER STYLES */

header {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

.wtf {
  /* background: linear-gradient(#c1e7e7,#99e3e5); */
  text-align: center;
  /* padding: 0.5rem;  */
  margin: 0 auto;
  /* margin-left: 10%; */
  width: 80%;
  /* margin-right: 10%; */
  /* display: inline-flex; */
  align-items: flex-end;
  justify-self: center;
  justify-content: center;
  align-self: center;
  display: flex;
  height: 2.5rem;
  flex-flow: wrap;
}

.wtf :hover {
  height: 2.5rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  align-items: baseline;
  align-self: baseline;
  transition: 0.05s, 0.2s;
}

.strange {
  margin: 0 auto;
  display: grid;
  box-shadow: 2px 0px 2px #c4ceca;
  justify-content: center;
  text-align: center;
  border-radius: 5px 5px 0 0;
  /* margin: auto; */
  background: linear-gradient(to left, #99e3e5, #c1e7e7);
  /* padding-right: 2rem; */
  /* padding-left: 2rem; */
  /* border-width: 10rem; */
  justify-items: baseline;
  height: 2rem;
  padding: 0;
  width: 7rem;
}

/* 
.strange:nth-child(2n)
{
  background: linear-gradient(to left ,#99e3e5,#c1e7e7,to left,#c1e7e7,#99e3e5)
} */

.side_tag {
  width: 120px;
  height: 60px;
  right: -50px;
  /*  margin-bottom: 90px; */
  position: fixed;
  background: rgb(155, 181, 221);
  font-size: 1em;
  transform: rotate(-90deg);
  transition: all 0.5s ease-in-out;
  opacity: 0.6;
  cursor: pointer;
  border-radius: 0.5rem;
}

.side_tag h3 {
  color: #377acf;
  margin-left: 3px;
  padding-left: 4px;
}

#edu_net {
  z-index: 3;
  /*   margin-bottom: 370px; */
  margin-top: 100px;
  margin-left: 90px;
  bottom: 300px;
}

#erasmus {
  z-index: 3;
  /*   margin-bottom: 500px; */
  margin-top: 100px;
  margin-left: 90px;
  bottom: 170px;
}

#CVT {
  z-index: 3;
  /* margin-bottom: 100px; */
  margin-top: 100px;
  margin-left: 90px;
  bottom: 40px;
}

.erasmus_header {
  transform: scale(1.5);
  padding-left: 1rem;
}

.header__icons img {
  height: 2.3rem;
}

.header__icons {
  display: flex;
  align-items: center;
  padding: 14px;
  padding-right: 16px;
}

.header__icons span:first-of-type {
  color: #5e6160;
  font-weight: bold;
}

.header__icons span:first-of-type:hover {
  color: #e57775;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.header__list li {
  padding: 16px;
}

.header__list li:hover {
  color: #e66057;
  transition: color 0.1s 0.1s;
}

.header__list li:active {
  color: #e92e29;
}

/* .nav_bar.sticky {
  position: fixed;
}

.nav_bar {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
} */

@media screen and (max-width: 710px) {
  header {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  header img {
    height: 1.9rem;
  }

  .header__nav {
    justify-content: space-around;
  }

  .header__icons {
    display: none;
  }

  .header__icons span {
    display: none;
  }

  .header__list {
    background-color: yellow;
  }

  li.mobile {
    display: flex;
    align-items: center;
  }
}

/* BANNER STYLES */

.banner {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 1100px;
  border-radius: 0.6rem;
  justify-content: flex-start;
  background-position: top center;
  background-image: url("../media/images/banner_arduino.jpg");
  filter: saturate(70%) hue-rotate(1deg);
  background-attachment: fixed;
}

.banner__photo {
  /* filter: blur(0.5px); */
  width: 70%;
  /*  padding: 32px 24px; */
}

.banner__photo_container {
  height: fit-content;
  padding: 0px;
  transform: translateY(1rem);
  border-radius: 0rem 60rem 4rem 0rem;
  width: 5rem auto;
  margin-bottom: 0;
  /*   background-color: #ffffff; */
  backdrop-filter: blur(2px);
  /*  filter: drop-shadow(1px 1px 3px rgb(255, 255, 255)); */
  backdrop-filter: blur(2.5px) contrast(25%) brightness(150%);
  /* backdrop-filter: blur(6px) brightness(250%) saturate(20%); */
}

.banner__photo img {
  align-items: center;
  justify-content: center;
  transform: translateY(-0rem);
  display: block;
  width: 100%;
}

.banner__text {
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 32px 32px 32px 0px;
}

.banner__text_element {
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-left: 24px;
}

.banner__button {
  text-align: center;
  align-content: center;
  width: 70%;
  background-color: #e57775;
  color: #fdfafe;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 32px;
  margin-left: 24px;
  /* box-shadow: 1px 1px #dde3e1; */
  letter-spacing: 1px;
  border-radius: 4px;
}

.button:hover {
  transition: background-color 0.1s ease-in-out 0.05s;
  background-color: #c2312b;
  transition: 1s;
  border-radius: 6px;
  transition: 0.6s;
}

.button:active {
  background-color: #e92e29;
  transition: background-color 0.1s, box-shadow 0.5s;
}

@media screen and (max-width: 910px) {
  .banner {
    background-position: top right;
    background-attachment: fixed;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
  }

  .banner__photo {
    width: 100%;
    padding: 0;
  }

  .banner__photo_container {
    transform: translateY(-1rem);
    border-radius: 0rem;
    /*   background-color: #ffffff; */
    backdrop-filter: blur(2px) contrast(30%) brightness(150%);
    border-radius: 0rem 0rem 4rem 4rem;
    /*  filter: drop-shadow(1px 1px 3px rgb(255, 255, 255)); */
  }

  .banner__photo img {
    align-items: center;
    justify-content: center;
    display: block;
    width: 100%;
  }

  .banner__text {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .banner__text_element {
    color: rgb(241, 236, 236);
  }

  .banner__button {
    width: 100%;
    align-self: center;
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px 0px;
    border-radius: 5px;
  }

  .banner__button:active {
    margin-left: 17px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1367px) {
  .banner {
    max-width: 100%;
    /*  max-height: 300px; */
    display: flex;
    border-radius: 0.4rem;
    justify-content: flex-end;
    background-image: radial-gradient(
      rgba(99, 88, 81, 0.616) 1px,
      transparent 0
    );
    background-size: 40px 40px;
    background-attachment: fixed;
  }

  .banner__photo_container {
    transform: translateY(-1rem);
    border-radius: 0rem;
    /*   background-color: #ffffff; */
    backdrop-filter: blur(2px) contrast(30%) brightness(150%);
    border-radius: 0rem 0rem 4rem 4rem;
    /*  filter: drop-shadow(1px 1px 3px rgb(255, 255, 255)); */
  }

  .banner__photo img {
    object-fit: cover;
    object-position: bottom center;
    max-height: 550px;
    width: 115%;
    display: flex;
    border-radius: 0.2rem;
  }

  .banner__text {
    backdrop-filter: blur(0px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 32px 32px 32px 0px;
  }

  .banner__text_element {
    color: #5e6160;
    padding: 10px;
    margin-left: 24px;
  }
}

/* HIGHLIGHTS STYLES */

.highlights {
  display: flex;
  /* background-attachment: fixed;
  background-position: 4.5% 15%;
  background-image: radial-gradient(rgba(99, 88, 81, 0.39) 1px, transparent 0);
  background-size: 40px 40px; */
}

.project__headline {
  background-color: #dde3e1;
}

.highlights__main {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-right: 1px solid #dde3e1;
  padding-bottom: 32px;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  /*  animation: fadeIn 2s; */
}

.highlights__main ul {
  list-style: circle;
  margin-left: 2.5rem;
}

li .highlights__text_element {
  font-size: 0.9rem;
  padding: 0rem;
  margin: 0.5rem;
}

.highlights__main_mobile {
  display: none;
}

.highlights__main img {
  width: 100%;
}

.highlights__main_photo {
  padding: 32px 24px 8px 24px;
}

.highlights__text_element {
  font-size: 0.9rem;
  padding: 10px 24px;
  margin-top: 1rem;
}

.highlights__credits {
  font-size: 0.7rem;
  padding: 10px 24px;
  font-weight: bold;
  color: #545756;
}

.highlights__misc {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.highlight-active {
  background-color: #dde3e1;
  transform: scale(1.05);
}

.highlights__misc_photo {
  width: 30%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.highlights__misc_photo img {
  height: auto;
  border-radius: 5px;
  width: 100%;
}

.highlights__misc_container {
  display: flex;
  border-top: 1px solid #dde3e1;
}

.highlights__misc_container:first-of-type {
  margin-top: 16px;
  border-top: none;
}

.highlights__misc_container:hover {
  background-color: #dde3e1;
}

.highlights__misc_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.highlights__misc_text p {
  padding: 4px;
  padding-left: 16px;
}

.highlights__misc_text h3 {
  padding: 4px;
  padding-left: 16px;
}

.highlights__misc_text h4 {
  padding: 4px;
  padding-left: 16px;
}
/* 
.highlights__misc_text span {
  color: #377acf;
  padding: 4px;
  padding-left: 16px;
  padding-bottom: 12px;
}

.highlights__misc_text span:hover {
  color: #0cb1ff;
}

.highlights__misc_text span:active {
  color: #e57775;
} */

.read_me span {
  color: #377acf;
  padding: 4px;
  padding-left: 16px;
  padding-bottom: 12px;
}

.read_me span:hover {
  color: #0cb1ff;
}

.read_me span:active {
  color: #e57775;
}

.read_me_cont {
  height: 30px;
}

.course__button {
  text-align: center;
  align-content: center;
  align-self: center;
  width: 40%;
  background-color: #e57775;
  color: #fdfafe;
  padding: 8px;
  margin-top: 4rem;
  margin-bottom: 32px;
  margin-left: 50%;
  margin-right: 50%;
  letter-spacing: 1px;
  border-radius: 4px;
}

/* 
@media screen and (max-width: 960px) {
  .highlights__misc_text h3 {
    font-size: 1.2rem;
  }

  .highlights__misc_text p {
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .highlights__misc {
    width: 30%;
  }

} */

@media screen and (min-width: 960px) {
}

@media screen and (max-width: 710px) {
  .highlights__main {
    display: none;
  }

  .highlights__main_mobile {
    /* display: block; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /*     border-right: 1px solid #dde3e1; */
    padding-bottom: 32px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
  }

  .highlights__misc {
    width: 100%;
  }

  .highlights__misc_container {
    flex-direction: column;
  }

  .highlights__misc_container:hover {
    border-radius: 0px;
    background-color: #f1f7f5;
  }

  .highlights__misc_container:first-of-type {
    margin-top: 0px;
  }

  .highlights__misc_photo {
    padding-right: 16px;
    width: inherit;
  }

  .highlights__misc_photo img {
    border-radius: 9px;
  }

  .highlights__misc_text {
    padding-left: 16px;
    padding-bottom: 32px;
    padding-top: 16px;
  }
}

/* COURSES STYLES */

.stripe {
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 32px 32px 16px 32px;
}

.courses {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  /*  grid-template-rows: repeat(4, minmax(30vh, 50vh)); */
  grid-template-rows: repeat(4, auto-fill 1fr);
  grid-gap: 1.5rem;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; */
  background: linear-gradient(#dde3e1, #dde3bf);
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 32px;
}

/* .courses__headline{ 
} */

.courses__subject {
  display: block;
  max-height: initial;
  border-radius: 9px;
  background-color: #fdfafe;
  /*   margin: 16px; */
  /* width: 350px; */
  /*  flex-grow: 1.8; */
}

.project_subtitle {
  height: auto;
  padding-bottom: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.courses__subject-active {
  /*  display: inline-flexbox; */
  grid-row: span 2;
  width: 100%;
  /* height: fit-content; */
  height: auto;
  padding-bottom: px;
  transition: 2s ease-in;
  font-smooth: auto;
}

.courses__subject-active#about_us {
  grid-row: span 3;
  height: auto;
}

.courses__subject-active#about_project {
  grid-row: span 2;
}

.courses__subject-active#erasmus_plus {
  height: auto;
  min-height: 20rem;
  grid-row: span;
}

.courses__subject-active#benefits {
  font-size: 20%;
  grid-row: span 2;
  height: auto;
}

.courses__subject-active#purpose {
  grid-row: span 1;
  height: auto;
  transition: 2s;
}
.courses__subject-active#directed_to {
  grid-row: span 1;
  transition: 2s;
}

.courses__subject_cover {
  display: none;
  margin: 16px;
  background-color: #fdfafe;
  width: 100%;
  flex-grow: 1.8;
  height: auto;
  border-radius: 9px 9px;
}
/* 

.courses__subject:last-child {
  margin-bottom: 16px;
} */

.courses__subject img {
  width: 100%;
  border-radius: 9px 9px 0px 0px;
}

.courses__img-active {
  display: none;
  /*  transition: opacity 0.4s ease-in-out;
  opacity: 0; */
}

.courses__subject h3 {
  padding-top: 16px;
  padding-left: 16px;
}

.courses__subject p {
  padding: 8px 16px;
}
/* 
.courses__subject p:last-of-type {
  padding-bottom: 24px;
}
 */
.courses__subject_text {
  height: auto;
  min-height: 200px;
  padding-bottom: 12px;
  border-radius: 9px 9px;
  /*   white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.courses__text-active {
  height: fit-content;
}

/* .courses__subject_text:hover {
  background-color: #fbfaea;
  border-radius: 9px 9px;
  transition: 0.1s 0.05s;
  color: #e57775;
} */

.courses__subject:hover {
  background-color: #fbfaea;
  border-radius: 9px 9px;
  transition: 0.1s 0.05s;
  color: #e57775;
}

.courses__subject_text p {
  color: #828081;
}

@media screen and (max-width: 710px) {
  .courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .courses__img-active {
    display: block;
    height: auto;
  }

  .courses__subject {
    min-width: auto;
    width: 350px;
    height: 100px;
    flex-grow: 1.8;
  }

  .courses__subject-active {
    height: auto;
  }

  .project_subtitle {
    /* transform: scale(0); */
    display: none;
  }
}

/*  PARTNERS STYLES */

.partners_main {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  /* grid-template-columns: repeat(3, 1fr);
  /*  grid-template-rows: repeat(4, minmax(30vh, 50vh)); */

  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; */
  background: linear-gradient(#dde3e1, #dde3bf);
  padding-left: 4rem;
  padding-right: 5rem;
  padding-bottom: 32px;
}

.partners__subject {
  /*  grid-column: span 1;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr; */

  display: block;
  max-height: initial;
  border-radius: 9px;
  /*   background-color: #fdfafe; */
  margin: 16px;
  margin-top: 0px;
  width: 100%;
  /*  flex-grow: 1.8; */
  align-items: flex-start;
  justify-content: flex-start;
}

.partners__image_container {
  float: left;
}

.partners__image_container img {
  float: left;

  /*  grid-column: span 1;
  grid-row: 1fr; */
  max-width: 200px;
  width: 100%;
}

.partners__subject_text {
  /*   grid-row: span 2;
  grid-column: span 2; */
  height: auto;
  text-align: justify;
  /*   min-height: 200px; */
  padding-bottom: 12px;
  border-radius: 9px 9px;
}

.partners_subtitle {
  height: auto;
  text-align: justify;
  padding-bottom: 9px;
}

.partners_subtitle ul {
  list-style: circle;
}

#partner_edunet p {
  padding: 0.5rem;
}

@media screen and (min-width: 711px) and (max-width: 930px) {
}
/* THESIS STYLES */

.video {
  padding: 32px 24px 8px 24px;
  border-right: none;
}

.highlights__main video {
  width: 100%;
}

.highlights__main_text {
  padding-bottom: 32px;
}

.thesis__headline {
  background-color: #fdfafe;
  color: lightgrey;
}

@media screen and (max-width: 710px) {
  .thesis__headline h2 {
    padding-top: 24px;
    padding-bottom: 16px;
  }

  .highlights__misc.landscape {
    display: none;
  }

  .highlights__main.video {
    display: block;
    width: 100%;
    padding: 0px;
    border: none;
    padding-bottom: 16px;
  }
}

/* FOOTER STYLES */

.footer {
  /* border-top: 1px solid #DDE3E1; */
  padding: 16px 24px;
  font-size: 0.8rem;
  height: 3rem;
}

.footer_nav {
  float: right;
}

.footer_nav span {
  padding-left: 16px;
}

.partners {
  display: flex;
  justify-content: center;
  align-content: center;
}

.partners img {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 450px;
}

@media screen and (max-width: 710px) {
  .footer {
    text-align: center;
    padding: 16px;
    height: auto;
  }

  .partners img {
    width: 200px;
  }
}

/* CONTACT PUPUP */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(0.7);
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.modal__header {
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.3;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
}

.modal__form input {
  font-size: 1rem;
  padding: 0.4rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form textarea {
  font-size: 1.2rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.highlight {
  position: relative;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.hidden_2 {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-out;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 2rem;
  right: 3.5rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.btn--close-modal:hover {
  color: rgb(197, 162, 162);
  transform: translate(1px, 1px);
  transition: 0.4s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 100;
  transition: all 0.5s;
}

.btn {
  transform: translate(-10%, -50%);
  display: inline-block;
  background-color: yellowgreen;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 400;
  border: none;
  padding: 0.65rem 2.5rem;
  border-radius: 2.7rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgb(108, 161, 27);
  transition: 0.7s;
  transition-delay: 0.1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-image {
  animation: fadeIn 1.5s;
}
.fade-in-image2 {
  animation: fadeIn2 1.5s;
}
